﻿<div width="100%" bgcolor="#F1F1F1" style="margin:0">
    <center style="width:100%;background:#f1f1f1;text-align:left">
        <!-- <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;font-family:'Roboto',sans-serif" >
        172 530 - Inicia sesión con el siguiente código de confirmación.
        </div >-->
        <div style="max-width:600px;margin:auto">



            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:600px">


                <tbody>
                    <tr>
                        <td bgcolor="#040404" align="center" valign="top" style="text-align:center;background-position:center center!important;background-size:cover!important;border: 3px solid #b1a561;">

                            <div>

                                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px;margin:auto">



                                    <tbody>
                                        <tr>
                                            <td>

                                                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width:600px;margin:auto">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="padding:40px 10px 40px 40px;font-family:'Roboto',sans-serif;font-size:25px;line-height:20px;color:#ffffff;text-align:left;font-weight:300">
                                                                <p align="center" style="margin:0;font-family:'Roboto','Arial',sans-serif;font-size:38px;line-height:40px;color:#b1a561;font-weight:bold;letter-spacing:0px"> Glimousine</p>
                                                                <!-- <p style="margin:0" > <a style="color:#ffffff;font-size:12px;font-weight:bold;text-decoration:none" > Privacy Policy</a > </p >-->
                                                            </td>
                                                            <!-- <td align="right" style="padding:40px 40px 40px 10px;text-align:right" >
                                                            <img src="https://www.chiropracticofficedesign.com/cms/wp-content/uploads/2016/06/insert-logo-here-red.jpg" alt="Glimousine" width="80" height="70" class="CToWUd" / >
                                                            </td >-->
                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>



                                    </tbody>
                                </table>

                            </div>

                        </td>
                    </tr>




                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#FFFFFF">
                                <tbody>

                                    <tr>
                                        <td style="padding:20px 40px 0px 40px;text-align:left">

                                            <h1 style="margin:0;font-family:'Roboto','Arial',sans-serif;font-size:32px;line-height:40px;color:#333333;font-weight:bold;letter-spacing:0px"> Hi there!, </h1>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:30px 30px;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:left;font-weight:300">


                                            <p style="margin-bottom: 1px"> You have been requested by a client for a quote, this is the information that the client provided about himself, please check it out!</p>


                                        </td>
                                    </tr>
                                    <!-- <tr >
                                    <td style="padding:40px 40px 20px 40px;text-align:center" >

                                    <img src="img/home/png/0013-DigitalMarketing.png" width="100%" alt="Welcome Back!" border="0" style="display:block;height:auto;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#fff;max-width:408px;margin:0 auto" class="CToWUd a6T" tabindex="0" / > <div class="a6S" dir="ltr" style="opacity: 0.01; left: 594px; top: 516px;" > <div id=":ow" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar" > <div class="akn" > <div class="aSK J-J5-Ji aYr" > </div > </div > </div > </div >

                                    </td >
                                    </tr >-->
                                    <tr>
                                        <td style="padding:5px 30px;font-family:'Roboto',sans-serif;font-size:17px;line-height:20px;color:#555555;text-align:left;font-weight:300">


                                            <p style="margin-bottom: 1px"> <b> Client Information:</b> </p>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:10px 120px;text-align:left;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px">

                                            <table align="left" style="text-align:left">
                                                <tbody>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:left;font-weight:300">
                                                            <p style="margin-bottom:5px"> Client Name: <strong> [firstName]</strong> </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:left;font-weight:300">
                                                            <p style="margin-bottom:5px"> Email: <strong> [email]</strong> </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:left;font-weight:300">
                                                            <p style="margin-bottom:5px"> Phone Number: <strong> [phoneNumber]</strong> </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:left;font-weight:300">
                                                            <p style="margin-bottom:5px"> Message:</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:15px;line-height:20px;color:#555555;text-align:justify;font-weight:300">
                                                            <p style="margin:10px">[message]</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                    <!-- <tr >
                                    <td style="padding:20px 40px 40px 40px;text-align:center" align="center" >


                                    <table align="center" cellspacing="0" cellpadding="0" border="0" >
                                    <tbody >
                                    <tr >
                                    <td style="border-radius:8px;background:#ffffff;text-align:center" >
                                    <div style="background:#ffffff;border:2px solid #e2e2e2;font-family:'Roboto',sans-serif;font-size:30px;line-height:1.1;text-align:center;text-decoration:none;display:block;border-radius:8px;font-weight:bold;padding:10px 40px" >
                                    <span style="color:#333;letter-spacing:5px" > 172 530</span >
                                    </div >
                                    </td >
                                    </tr >
                                    </tbody >
                                    </table >


                                    </td >
                                    </tr >-->
                                </tbody>
                            </table>
                        </td>
                    </tr>



                    <tr>
                        <td bgcolor="#fff">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#FFFFFF" style="border-top:1px solid #e2e2e2">
                                <tbody>
                                    <tr>
                                        <td style="padding:30px 30px;text-align:center;font-family:'Roboto',sans-serif;font-size:15px;line-height:20px">

                                            <table align="center" style="text-align:center">
                                                <tbody>
                                                    <tr>
                                                        <td style="font-family:'Roboto',sans-serif;font-size:12px;line-height:20px;color:#555555;text-align:center;font-weight:300">
                                                            <p style="margin-bottom:5px"> For more details, contact the customer directly, you can send him an email or you can contact him by phone call with the information provided.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>



                    <tr>
                        <td bgcolor="#040404" style="text-align:center;background-position:center center!important;background-size:cover!important;border: 3px solid #b1a561;">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="left" style="padding:40px 10px 40px 40px;font-family:'Roboto',sans-serif;font-size:14px;line-height:20px;color:#ffffff;text-align:left;font-weight:300">
                                            <p style="margin:0 0 10px 0"> <a style="color:#ffffff;font-size:12px;font-weight:bold;text-decoration:none"> Terms and Conditions</a> </p>
                                            <p style="margin:0"> <a style="color:#ffffff;font-size:12px;font-weight:bold;text-decoration:none"> Privacy Policy</a> </p>
                                        </td>
                                        <td align="right" style="padding:40px 40px 40px 10px;text-align:right">
                                            <img src="https://www.chiropracticofficedesign.com/cms/wp-content/uploads/2016/06/insert-logo-here-red.jpg" alt="Glimousine" width="80" height="70" class="CToWUd" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>


                </tbody>
            </table>



        </div>

    </center> <div class="yj6qo"> </div> <div class="adL">
    </div>
</div>
<!-- </body >
</html > -->
